body.container-fluid {
  text-align: center;

  & > h1 {
    margin-bottom: 50px;
  }
}

.hidden {
  display: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

#main-header {
  margin: 10px 0 20px 0;

  & h1 {
    display: inline-block;
  }
}

#control-buttons {
  float: right;
}

button {
  margin: auto;
}

.icon-buttons,
.icon-buttons-bright {
  width: 50px;
  padding: 10px;
  margin: 0 5px;

  &.icon-buttons-bright {
    opacity: 0.7;
  }

  & > img {
    width: 30px;
    filter: invert(100%);
  }
}

#renderer-header {
  display: inline-block;
}

#renderer-graph-description {
  display: inline-block;
  font-style: italic;
  font-size: 21px;
  padding-left: 11px
}

#canvas {
  margin: auto;
}

#renderer-page-selector {
  margin-top: 30px;
  margin-bottom: 30px;
}

#graph-selector-upload,
#graph-selector-render {
  margin: 30px 0 30px 20px;
  width: 300px;
}

#add-graph-page > .col > .row {
  align-items: center;

  h3 {
    margin-bottom: 15px;
  }

  input {
    margin: 5px;
    width: 400px;
  }

  button {
    margin-top: 25px;
    width: 200px;
  }
}

/**
 * START: Custom slider styles
 */
$thumbColor: #337ab7;
$sliderColor: #fff;
$sliderBorder: 1px solid #ddd;
$sliderBorderRadius: 5px;
$sliderShadow: inset 0px 0px 1px 1px #eee;

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
}

input[type=range][slider-orientation=horizontal] {
  width: 100%;
}

input[type=range][slider-orientation=vertical] {
  height: 100%;
  // Rotate to have 1 at the top
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  animate: 0.2s;
  -webkit-box-shadow: $sliderShadow;
  box-shadow: $sliderShadow;
  background: $sliderColor;
  border-radius: $sliderBorderRadius;
  border: $sliderBorder;
}

input[type=range][slider-orientation=horizontal]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
}

input[type=range][slider-orientation=vertical]::-webkit-slider-runnable-track {
  height: 100%;
  width: 8.4px;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $thumbColor;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  cursor: pointer;
  animate: 0.2s;
  -moz-box-shadow: $sliderShadow;
  box-shadow: $sliderShadow;
  background: $sliderColor;
  border-radius: $sliderBorderRadius;
  border: $sliderBorder;
}

input[type=range][slider-orientation=horizontal]::-moz-range-track {
  width: 100%;
  height: 8.4px;
}

input[type=range][slider-orientation=vertical]::-moz-range-track {
  height: 100%;
  width: 8.4px;
}

input[type=range]::-moz-range-thumb {
  box-shadow: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $thumbColor;
  cursor: pointer;
}

input[type=range]::-ms-track {
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range][slider-orientation=horizontal]::-ms-track {
  width: 100%;
  height: 8.4px;
}

input[type=range][slider-orientation=vertical]::-ms-track {
  height: 100%;
  width: 8.4px;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: $sliderBorder;
  border-radius: $sliderBorderRadius;
  box-shadow: $sliderShadow;
}

input[type=range]::-ms-fill-upper {
  background: $sliderColor;
  border: $sliderBorder;
  border-radius: $sliderBorderRadius;
  box-shadow: $sliderShadow;
}

input[type=range]::-ms-thumb {
  box-shadow: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $thumbColor;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/**
 * END: Custom slider styles
 */